.largetags {
  display: none;
}

.inventory {
  margin: 0 1rem;
  &__top-section {
    display: flex;
    flex-direction: column;
    &--title {
      margin: 2rem 0 1rem 0;
    }
    &--search {
      height: 48px;
      margin-bottom: 2rem;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabaster;
      background-image: url("../assets/Icons/SVG/Icon-search.svg");
      background-repeat: no-repeat;
      background-position: 12px 16px;
      background-size: 16px;
      text-indent: 32px;
      width: 90%;
    }
  }
}

.mobiletags {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 2px $mercury;

  &__item {
    display: flex;
    flex-basis: 100%;
  }

  &__vertdots {
    margin-left: auto;
  }

  &__subsec {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    &--tag {
      flex-basis: 100%;
      margin: 0 0 1rem 0;
    }
    &--value {
      margin: 0 0 1.5rem 0;
    }
  }
}
