.locations {
  margin: 32px 5%;
  border-bottom: 2px solid $mercury;
  &__top-section {
    display: flex;
    flex-direction: column;
    &--title {
      margin-bottom: 16px;
    }
    &--search {
      height: 48px;
      margin-bottom: 8px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabaster;
      background-image: url("../assets/Icons/SVG/Icon-search.svg");
      background-repeat: no-repeat;
      background-position: 12px 16px;
      background-size: 16px;
      text-indent: 32px;
      width: -webkit-fill-available;
      width: fill-available;
      width: -moz-available;
    }
  }
  &__loc {
    display: flex;
    justify-content: space-between;
    &--text {
    }

    &--img {
    }
  }
}
