@font-face {
  font-family: "Avenir";
  src: url(../assets/Fonts/Avenir.otf);
}

@font-face {
  font-family: "Avenir-Bold";
  src: url(../assets/Fonts/AvenirBold.otf);
}

@font-face {
  font-family: "Avenir-Demi";
  src: url(../assets/Fonts/AvenirDemi.otf);
}

.texthead {
  margin: 0;
  font-size: 1.5rem;
  line-height: 32px;
  font-family: "Avenir-Bold", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .texthead {
    font-size: 36px;
    line-height: 44px;
  }
}

@media only screen and (min-width: 1024px) {
  .texthead--hero {
    font-size: 60px;
    line-height: 68px;
  }
}

.texthead--h2 {
  font-size: 24px;
  line-height: 32px;
}

.subheader {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-Demi", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .subheader {
    font-size: 16px;
    line-height: 22px;
  }
}

.date {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  font-weight: 300;
  color: #afafaf;
}

@media only screen and (min-width: 768px) {
  .date {
    font-size: 16px;
    line-height: 22px;
  }
}

.para {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .para {
    font-size: 14px;
    line-height: 22px;
  }
}

.list {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .list {
    font-size: 14px;
    line-height: 20px;
  }
}

.label {
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir", sans-serif;
  color: #afafaf;
}

@media only screen and (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper {
    background-color: #323232;
  }
  .header__img {
    margin-top: 16px;
    width: 41.25%;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
    margin: 16px 0 0 0;
    padding: 0;
  }
  .header__list--item {
    text-align: center;
    width: 50%;
    padding-bottom: 16px;
  }
  .active {
    border-bottom: 3px solid #fff;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #323232;
    height: 80px;
  }
  .header__wrapper {
    padding: 0 3.125vw;
  }
  .header__img {
    width: 16vw;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;
  }
  .header__list--item {
    text-align: center;
    margin-left: 6.5vw;
    width: 20%;
    padding-bottom: 16px;
  }
  .active {
    border-bottom: 3px solid #fff;
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .header__wrapper {
    padding: 0 12.5vw;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
  line-height: 1.8rem;
  color: grey;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.largetags {
  display: none;
}

.inventory {
  margin: 32px 5%;
}

.inventory__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventory__top-section--title {
  margin-bottom: 16px;
}

.inventory__top-section--search {
  height: 48px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  background-image: url("../assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 12px 16px;
  background-size: 16px;
  text-indent: 32px;
}
/*# sourceMappingURL=main.css.map */