@font-face {
  font-family: "Avenir";
  src: url(../assets/Fonts/Avenir.otf);
}

@font-face {
  font-family: "Avenir-Bold";
  src: url(../assets/Fonts/AvenirBold.otf);
}

@font-face {
  font-family: "Avenir-Demi";
  src: url(../assets/Fonts/AvenirDemi.otf);
}

.texthead {
  margin: 0;
  font-size: 1.5rem;
  line-height: 32px;
  font-family: "Avenir-Bold", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .texthead {
    font-size: 36px;
    line-height: 44px;
  }
}

@media only screen and (min-width: 1024px) {
  .texthead--hero {
    font-size: 60px;
    line-height: 68px;
  }
}

.texthead--h2 {
  font-size: 24px;
  line-height: 32px;
}

.subheader {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-Demi", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .subheader {
    font-size: 16px;
    line-height: 22px;
  }
}

.date {
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  font-weight: 300;
  color: #afafaf;
}

@media only screen and (min-width: 768px) {
  .date {
    font-size: 16px;
    line-height: 22px;
  }
}

.para {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .para {
    font-size: 14px;
    line-height: 22px;
  }
}

.list {
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

@media only screen and (min-width: 768px) {
  .list {
    font-size: 14px;
    line-height: 20px;
  }
}

.label {
  font-size: 12px;
  line-height: 20px;
  font-family: "Avenir", sans-serif;
  color: #afafaf;
}

@media only screen and (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper {
    background-color: #323232;
  }
  .header__img {
    margin-top: 16px;
    width: 41.25%;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
    margin: 16px 0 0 0;
    padding: 0;
  }
  .header__list--item {
    text-align: center;
    width: 50%;
    padding-bottom: 16px;
    text-decoration: none;
    color: #afafaf;
  }
  .active {
    border-bottom: 3px solid #fff;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #323232;
    height: 80px;
  }
  .header__wrapper {
    padding: 0 3.125vw;
  }
  .header__img {
    width: 16vw;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;
  }
  .header__list--item {
    text-align: center;
    margin-left: 6.5vw;
    width: 20%;
    padding-bottom: 16px;
    text-decoration: none;
    color: #afafaf;
  }
  .active {
    border-bottom: 3px solid #fff;
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .header__wrapper {
    padding: 0 12.5vw;
  }
}

.product__wrapper {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .product__wrapper {
    margin: 0 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .product__wrapper {
    margin: 0 180px;
  }
}

.product__headwrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .product__headwrap {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.product__backicon {
  margin: 1rem 1rem 1.275rem 0;
}

@media only screen and (min-width: 1024px) {
  .product__backicon {
    margin: 1.5rem 1rem 1.275rem 0;
  }
}

.product__name {
  margin: 1rem 0;
}

@media only screen and (min-width: 1024px) {
  .product__name {
    margin: 3rem 1.5rem 2.5rem 0;
  }
}

.product__stock {
  width: 88px;
  height: 24px;
  border-radius: 3px;
  color: white;
  border: none;
  margin-bottom: 2rem;
  background-color: #69b01b;
}

.product__stock:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .product__stock {
    margin: 2rem 0 2rem 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .product__stock {
    margin: 3.5rem 0 0 0;
  }
}

.product__textcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .product__textcontainer {
    padding-top: 2rem;
    border-top: solid 2px #e1e1e1;
    border-bottom: solid 2px #e1e1e1;
  }
}

@media only screen and (min-width: 1024px) {
  .product__textcontainer {
    padding-top: 3rem;
  }
}

.product__textwrap {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .product__textwrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.product__texthead {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 1rem 0;
}

@media only screen and (min-width: 1024px) {
  .product__texthead {
    margin: 0 0 1.5rem 0;
  }
}

.product__textbody {
  margin: 0 0 2rem 0;
}

@media only screen and (min-width: 1024px) {
  .product__textbody {
    margin: 0 0 3.5rem 0;
  }
}

.product__catbody {
  margin: 0 0 2rem 0;
}

@media only screen and (min-width: 1024px) {
  .product__catbody {
    margin: 0 0 3rem 0;
  }
}

.product__description {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .product__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: auto;
  }
}

.product__notdescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1024px) {
  .product__notdescription {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-left: 2rem;
  }
}

.product__categories {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.product__edit {
  width: 100%;
  height: 3rem;
  background-color: #004892;
  border: none;
  color: white;
  border-radius: 6px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-bottom: 1rem;
}

.product__edit:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #0055ab;
}

.product__edit:active {
  background-color: #002f5f;
}

.product__edit:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .product__edit {
    margin: 2.5rem 0 2.5rem auto;
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.largetags {
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags {
    display: contents;
  }
}

.largetags__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .largetags__wrapper {
    width: 100%;
    margin-right: 4px;
  }
}

.largetags__item {
  -ms-flex-preferred-size: 15.5rem;
      flex-basis: 15.5rem;
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .largetags__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.largetags__order {
  width: 7.75rem;
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .largetags__order {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

.largetags__location {
  width: 7.75rem;
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .largetags__location {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

.largetags__quantity {
  width: 7.75rem;
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .largetags__quantity {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

.largetags__status {
  width: 7.75rem;
  display: none;
}

@media only screen and (min-width: 768px) {
  .largetags__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .largetags__status {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

@media only screen and (min-width: 768px) {
  .largetags__dots {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .largetags__dots {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.input-modal-btn {
  border: none;
  border-radius: 50%;
  position: fixed;
  top: 85%;
  left: 75%;
  background-color: #002f5f;
  height: 60px;
  width: 60px;
}

.input-modal-btn--plus {
  width: 20px;
  height: 20px;
}

.inventory {
  margin: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .inventory {
    margin: 0 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .inventory {
    margin: 0 11.25rem;
  }
}

.inventory__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .inventory__top-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.inventory__top-section--title {
  margin: 2rem 0 1rem 0;
}

@media only screen and (min-width: 1440px) {
  .inventory__top-section--title {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 3rem 0 3rem 0;
  }
}

.inventory__top-section--search {
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  background-image: url("../assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0.75rem 1rem;
  background-size: 1rem;
  text-indent: 2rem;
  width: 90%;
}

@media only screen and (min-width: 1440px) {
  .inventory__top-section--search {
    width: 15.75rem;
    margin: 2.5rem 0 0 0;
  }
}

.inventory__inputwrap {
  margin-left: auto;
}

.mobiletags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 2px #e1e1e1;
}

@media only screen and (min-width: 768px) {
  .mobiletags {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .mobiletags {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    height: 5rem;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.mobiletags__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .mobiletags__item {
    display: none;
  }
}

.mobiletags__vertdots {
  margin-left: auto;
}

.mobiletags__subsec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media only screen and (min-width: 1024px) {
  .mobiletags__subsec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mobiletags__subsec--tag {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 1rem 0;
}

@media only screen and (min-width: 768px) {
  .mobiletags__subsec--tag {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .mobiletags__subsec--tag {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.mobiletags__subsec--value {
  margin: 0 0 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .mobiletags__subsec--value {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 1.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .mobiletags__subsec--value {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  #product {
    -ms-flex-preferred-size: 14.875rem;
        flex-basis: 14.875rem;
  }
}

@media only screen and (min-width: 1024px) {
  #product {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media only screen and (min-width: 768px) {
  #product__name {
    display: contents;
    -ms-flex-preferred-size: 14.875rem;
        flex-basis: 14.875rem;
  }
}

@media only screen and (min-width: 1024px) {
  #product__name {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  #product__description {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  #product__description {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #lastorder {
    -ms-flex-preferred-size: 7.625rem;
        flex-basis: 7.625rem;
  }
}

@media only screen and (min-width: 1024px) {
  #lastorder {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

@media only screen and (min-width: 768px) {
  #location {
    -ms-flex-preferred-size: 7.5rem;
        flex-basis: 7.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  #location {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

@media only screen and (min-width: 768px) {
  #quantity {
    -ms-flex-preferred-size: 7.5rem;
        flex-basis: 7.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  #quantity {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

@media only screen and (min-width: 768px) {
  #status {
    -ms-flex-preferred-size: 5.9375rem;
        flex-basis: 5.9375rem;
  }
}

@media only screen and (min-width: 1024px) {
  #status {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
  }
}

.locations {
  margin: 32px 5%;
  border-bottom: 2px solid #e1e1e1;
}

.locations__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locations__top-section--title {
  margin-bottom: 16px;
}

.locations__top-section--search {
  height: 48px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  background-image: url("../assets/Icons/SVG/Icon-search.svg");
  background-repeat: no-repeat;
  background-position: 12px 16px;
  background-size: 16px;
  text-indent: 32px;
  width: -webkit-fill-available;
  width: fill-available;
  width: -moz-available;
}

.locations__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", sans-serif;
  line-height: 1.8rem;
  color: #323232;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=main.css.map */