@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/header";

html,
body {
  margin: 0;
  font-family: "Avenir", sans-serif;
  line-height: 1.8rem;
  color: grey;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
